
  public void __OPERATION_NAME__(__OPERATION_PARAMETERS_LIST__){
     __PREPARE_ENUMS__
     __OPERATION_NAME__(_ref__SEPARATOR____JNI_FUNCTION_CALL_PARAMETERS_LIST__);
     __WRITE_ENUMS__
  }
  public native void __OPERATION_NAME__(long ref__SEPARATOR____JNI_OPERATION_PARAMETERS_LIST__);
  